*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111827;
    color:white;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:400px;
    background:#1f2937;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 30px rgba(0,0,0,0.4);
}

h1{
    text-align:center;
    margin-bottom:10px;
    font-size:42px;
}

.subtitle{
    text-align:center;
    margin-bottom:30px;
    color:#9ca3af;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    margin-bottom:20px;
    font-size:16px;
}

.team-list{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

.team-card{
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    transition:0.2s;
    border:2px solid transparent;
}

.team-card:hover{
    transform:scale(1.02);
}

.team-card.active{
    border:2px solid white;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#1d4ed8;
}
